/*paymentEntry.css*/

.paymentEntryCss {
    background-color: #f4f4f4;
    padding: 20px;
}
.paymentEntryCss label {
    font-size: 20px;
    text-decoration: underline;
}
.paymentEntryCss form {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
}
.paymentEntryCss input {
    margin-bottom: 10px;
    margin-top: 5px;
}
.paymentEntryCss h2 {
    color: #ff6347;
}

.error {
    color: red;                   /* Text color */
    font-size: 16px;             /* Font size */
    margin-left: 10px;           /* Space between label and error message */
    font-weight: bold;            /* Make the text bold */
    display: inline;              /* Keep it inline with the label */
    position: fixed;
    margin-top: 4px;
}