/*shippingEntry.css*/


.shippingEntryCss {
    background-color: #f4f4f4;
    padding: 20px;
}
.shippingEntryCss label {
    font-size: 20px;
    align-items: center;
}
.shippingEntryCss form {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
    text-decoration: underline;
}

.shippingEntryCss input {
    margin-bottom: 10px;
    margin-top: 5px;
}
.shippingEntryCss h2 {
    color: #ff6347;
}